<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.animal.scale.hodoo">

    <uses-sdk tools:overrideLibrary="com.tistory.dwfox.dwrulerviewlibrary" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <!-- WIFI -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <!-- CAMERA -->
    <uses-permission android:name="android.permission.CAMERA" />
    <!-- espressif -->
    <uses-permission android:name="android.permission.CHANGE_WIFI_MULTICAST_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_foreground"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_foreground"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:icon,android:theme">
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/main_logo" />
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/colorAccent" />

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.animal.scale.hodoo"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.user.login.LoginActivity" />
        <activity android:name=".activity.user.agree.TermsOfServiceActivity" />
        <activity android:name=".activity.pet.regist.basic.BasicInformationRegistActivity" />
        <activity android:name=".activity.pet.regist.disease.DiseaseInformationRegistActivity" />
        <activity android:name=".activity.pet.regist.physique.PhysiqueInformationRegistActivity" />
        <activity android:name=".activity.pet.regist.weight.WeightCheckActivity" />
        <activity android:name=".activity.user.signup.SignUpActivity" />
        <activity android:name=".activity.user.signup.SignUpFinishActivity" />
        <activity android:name=".activity.home.activity.HomeActivity" />
        <activity android:name=".activity.wifi.WifiSearchActivity" />
        <activity android:name=".activity.wifi.WIFIScanner" />
        <activity android:name=".activity.wifi.find.FindHodoosActivity" />
        <activity android:name=".activity.wifi.SearchFailedActivity" />
        <activity android:name=".activity.setting.list.SettingListActivity" />
        <activity android:name=".activity.setting.account.MyAccountActivity" />
        <activity android:name=".activity.setting.account.change.password.ChangePasswordActivity" />
        <activity android:name=".activity.home.fragment.weight.statistics.WeightStatisticsActivity" />
        <activity android:name=".activity.setting.pet.accounts.PetAccountsActivity" />
        <activity android:name=".activity.setting.user.account.UserAccountActivity" />
        <activity android:name=".activity.setting.device.setting.DeviceSettingActivity" />
        <activity android:name=".activity.user.reset.password.send.SendCertificationNumberActivity" />
        <activity android:name=".activity.user.reset.password.confirm.ConfirmCertificationNumberActivity" />
        <activity android:name=".activity.user.reset.password.create.CreateNewPasswordActivity" />
        <activity android:name=".activity.device.regist.DeviceRegistActivity" />
        <activity android:name=".activity.setting.account.info.ChangeUserInfoActivity" />
        <activity android:name=".activity.meal.search.MealSearchActivity" />
        <activity android:name=".activity.meal.list.FeedListActivity" />
        <activity android:name=".activity.meal.regist.MealRegistrationActivity" />
        <activity android:name=".activity.meal.update.MealUpdateActivity" />
        <activity android:name=".activity.meal.detail.IngredientsOfMealActivity" />
        <activity android:name=".activity.setting.device.list.DeviceListActivity" />
        <activity android:name=".activity.setting.device.bowelplate.list.BowelPlateListActivity" />
        <activity android:name=".test.ActivityCustomEditTextTest" />
        <activity android:name=".activity.user.invitation.InvitationActivity" />
        <activity android:name=".activity.setting.user.group.manager.UserGroupManagerActivity" />
        <activity android:name=".activity.setting.user.group.list.UserGroupListActivity" />
        <activity android:name=".activity.user.invitation.finish.InvitationFinishActivity" />
        <activity
            android:name=".fcm.NotificationActivity"
            android:taskAffinity=""
            android:excludeFromRecents="true"/>
        <activity android:name=".activity.user.invitation.confirm.InvitationConfirmActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activity.user.invitation.confirm.InvitationConfirmActivity" />

            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="invitation"
                    android:scheme="selphone" />
            </intent-filter>
        </activity>

        <service android:name=".service.firebase.MyFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <service android:name=".service.MyFirebaseInstanceIDService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>
        <service android:name=".service.AlwaysOnTopService" />

        <receiver
            android:name=".receiver.FirebaseDataReceiver.FirebaseDataReceiver"
            android:exported="true"
            android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
            </intent-filter>
        </receiver>

        <activity android:name=".activity.intro.IntroActivity" />
        <activity android:name=".fcm.AlertActivity" />
        <activity android:name=".activity.setting.device.feeder.FeederOrderActivity" />
        <activity android:name=".test.server.TestServerResponseActivity">

        </activity>

    </application>

</manifest>